[Desktop Entry]
Name=Trackballs
Comment=Game similar to Marble Madness
Comment[pl]=Gra podobna do Marble Madness
Exec=trackballs
Icon=trackballs
Terminal=false
Type=Application
Categories=Game;ArcadeGame;
# vi: encoding=utf-8
