[Desktop Entry]
Encoding=UTF-8
Name=Trackballs
Comment=Game similar to Marble Madness
Comment[pl]=Gra podobna do Marble Madness
Icon=trackballs.png
Exec=trackballs
Terminal=false
Type=Game;ArcadeGame;
# vi: encoding=utf-8
